<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>App Home</title>
	<link href="./css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
	<form> (action="...", method="post", enctype="multipart/form-data")
	File: <input type="file" name="file">
	</form>
  input(type="file", name="displayImage")
    <p>
    hello world</p>
	<!-- Upload Javascript files from the public folder-->
	<script type="text/javascript" src="./js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="./js/facebook.js"></script>
</body>
</html>
